
  .about-heading{
    font-family: 'Mirra Auriolic', sans-serif;
    font-size: 6rem;
    letter-spacing: 20px; 
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    /* background: rgba(255, 255, 255, 0.7); */
    /* border-radius: 15px; */
    padding: 10px;
    margin: 0;
  }
  .about-text {
    font-size: 15px;
    text-align: justify;
    margin-top: 120px;
    /* padding: 0 50px; */
    padding-right: 80px;
    margin-right: 50px;
    transform: translate(-05%, 0%);
  }
  
  .about-image {
    height: 120%;
    width: 70%;
    border-radius: 5px;
  }
  